---
---
@import "{{ site.theme }}";

/* Optional: test background */
body {
  background-color: #fdf4e3;
}

/* Our own container that we control */
.content-wide {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
